.dashboard_parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    margin: 0;
    border: 0;
    padding: 0;
}

.message {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 11%;

    border-radius: 10px;

    box-sizing: border-box;

    margin: 0px;
    border: 0px;
    padding: 5px;

    transform: translate(0px, -40px);
    transition: transform 250ms;

    position: relative;
    z-index: 0;
    background-color: #f55064;
    color: #f1f1f1;
}

.message.show {
    transform: translateY(0px);
    position: relative;
    z-index: 0;
}

.grid-dashboard {
    display: grid;
    justify-content: center;

    height: 80%;
    width: 70%;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: 30% 70%;

    color: #333;

    gap: 20px;
    box-sizing: border-box;

    transform: translate(0px, +20px);
}

.maketrade_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    background-color: #f1f1f1;

    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;

    grid-column: 1 / 16;
    grid-row: 1;
}

.balance_box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: #f1f1f1;

    border-radius: 20px;
    box-sizing: border-box;

    grid-column: 16 / 21;
    grid-row: 1;
}

.gettrades_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    /* background-color: #f1f1f1; */

    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;

    grid-column: 1 / 12;
    grid-row: 2;
}

.portfolio_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    /* background-color: #f1f1f1; */

    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;

    grid-column: 12 / 21;
    grid-row: 2;
}

/* .watchlist_box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: #f1f1f1;

    border-radius: 20px;
    box-sizing: border-box;

    grid-column: 16 / 21;
    grid-row: 2;
} */